<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.xiumei.mapper.IDemoMapper">
    <select id="listDemo" resultType="map">
        select first_name,last_name from t_demo
    </select>

    <insert id="addDemo">
        insert into t_demo(first_name) values (#{code})
    </insert>

    <update id="updateDemo">
        update t_demo set last_name=#{result} where first_name=#{code}
    </update>
</mapper>