<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.common.mapper.IUserMapper">
    <resultMap id="baseMap" type="com.system.common.domain.model.UserModel">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="tel" property="tel"/>
        <result column="email" property="email"/>
        <result column="role_code" property="roleCode"/>
        <result column="img" property="img"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_info" property="updateInfo"/>
    </resultMap>
    <sql id="baseColumns">
        id,username,password,name,sex,tel,email,role_code,img,
        create_time,update_time,update_info
    </sql>

    <select id="getUserByPassword" resultMap="baseMap">
        select
        <include refid="baseColumns"/>
        from t_common_user
        where username=#{username} and password=#{password}
    </select>

    <update id="updatePassword">
        update t_common_user
        set password=#{password}, update_info=#{updateInfo}, update_time=sysdate()
        where username=#{username}
    </update>

    <select id="listUser" resultMap="baseMap">
        select
        <include refid="baseColumns"/>
        from t_common_user
        where 1=1
        <if test="username!=null and username!=''">
            and username=#{username}
        </if>
    </select>

    <select id="getUser" resultMap="baseMap">
        select
        <include refid="baseColumns"/>
        from t_common_user
        where username=#{username}
    </select>

    <insert id="addUser">
        insert into t_common_user(<include refid="baseColumns"/>)
        values (#{id},#{username},#{password},#{name},#{sex},#{tel},#{email},#{roleCode},#{img},sysdate(),null,null)
    </insert>

    <update id="updateUser">
        update t_common_user set name=#{name},set=#{sex},tel=#{tel},email=#{email},
        role_code=#{roleCode},img=#{img},update_time=sysdate(),update_info=#{updateInfo}
        where username=#{username}
    </update>

    <delete id="deleteUser">
        delete from t_common_user where username=#{username}
    </delete>
</mapper>